.btn-search {
  margin-top: 30px;
  padding: .6rem 1rem !important;
}

.account-statement i {
  color: #59bd51;
}

.account-statement .nav-tabs .nav-item.show .nav-link,
.account-statement .nav-tabs .nav-link.active {
  color: #495057 !important;
  background-color: #fff !important;
  border-color: #ffffff #ffffff #6c6d70 !important;
}

.account-statement .nav-tabs .nav-link {
  padding: .5rem !important;
}

.account-statement .nav-tabs .nav-link:focus,
.account-statement .nav-tabs .nav-link:hover {
  border-color: #ffffff #ffffff #6c6d70 !important;
}

.account-statement .btn {
  padding: .5rem .8rem;
  width: 100%;
}

.account-statement .btn:active, .account-statement .btn:hover {
  background: transparent !important;
  border-color: #59bd51 !important;
}

.account-statement .transaction-entries ul {
  padding-left: 8px !important;
  padding-right: 8px !important;
  background: #f9f9f9;
}

.account-statement .transaction-entries ul li {
  padding: 4px !important;
}

.account-statement .transaction-entries ul li:last-child {
  border-bottom: none !important;
}

.account-statement .transaction-entries p {
  padding-left: 12px;
  margin-bottom: 6px;
  font-weight: 600;
}

.account-statement .select2-container {
  width: 100% !important;
}

.account-statement .select2-container--default.select2-container--focus .select2-selection--multiple,
.account-statement .select2-container--default.select2-container--focus .select2-selection--single,
.account-statement .select2-container--default.select2-container--open .select2-selection--multiple,
.account-statement .select2-container--default.select2-container--open .select2-selection--single {
  border-color: #59bd51;
}

.account-statement .card .card-body {
  min-height: 76vh;
}

.datepicker td,
.datepicker th {
  font-size: 13px !important;
}

.datepicker table tr td.active.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active.disabled:hover[disabled],
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active:hover.disabled,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active:hover[disabled],
.datepicker table tr td.active[disabled] {
  background-color: #59bd51;
}

#legend .legend-item {
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}

#legend .legend-item .legend-marker {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 10px;
}

#legend ul {
  list-style: none;
  font-size: 12px;
}

#legend ul span {
  display: inline-block;
  height: 1em;
  width: 1em;
  margin-right: 0.5em;
}
