.interest-rate-stats p {
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 0;
}

.interest-rate-stats span {
  font-weight: 100;
  margin-left: 16px;
  font-size: 13px;
}

#current-investments_wrapper,
#finished-investments_wrapper {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

#current-investments tr,
#finished-investments_wrapper tr {
  white-space: nowrap;
}

#current-investments th,
#finished-investments_wrapper th {
  white-space: normal;
}
