{% extends "masterlayout.html" %}

{% block content %}
<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="text-white fw-800">Climate Action</h2>
                <p class="text-white mb-0"><a class="text-white" href="{{url_for('baseroute.index')}}">Home</a><span class="px-2"><i class="fa fa-chevron-right" aria-hidden="true"></i></span><a href="{{url_for('baseroute.climate_action')}}" class="text-white">Climate Action</a></p>
            </div>
        </div>
    </div>
</div>

<div class="solutions container">
    <div class="row py-5">
        <div class="col-md-7">
            <h6 class="fw-800 mb-4 solution-title">Conservation Finance Solution</h6>
            <p>GreenArc Capital’s Conservation Finance Solutions are targeted at connecting markets to conservation projects.</p>
            <p>Our pilot project with our partner Lestari Capital is the Sustainable Commodities Conservation Mechanism (SCCM) – a platform designed to scale up market-linked conservation finance. It captures the opportunity to generate new demand, deliver efficiency and secure private sector capital in the conservation space. </p>
            <p>The SCCM was launched at the 2018 Tri Hita Karana Forum held in conjunction with the IMF / World Bank Annual Meetings in Bali. </p>
            <p>Details can be found here.</p>
            <p class="fw-800">Issues:</p>
            <ul>
                <li>Conservation and forest restoration projects are undercapitalized</li>
                <li>Private sector capital is required to scale conservation & forest restoration efforts</li>
                <li>Corporates are falling under increasing sustainability pressures</li>
            </ul>
            <p class="fw-800">Solutions:</p>
            <ul>
                <li>Develop innovative, systemic demand sources beyond CSR</li>
                <li>Help attach a value to natural capital</li>
                <li>Provide a concrete, transparent solution for companies to act upon sustainability commitments and certifications</li>
            </ul>
        </div>
        <div class="col-md-5">
            <div class="solutions-img"><img src="https://www.greenarccapital.com/assets/uploads/image002.jpg"
                    class="img-fluid" />
            </div>
        </div>
    </div>
</div>

{% endblock %}