{% extends "masterlayout.html" %}

{% block content %}
<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="text-white fw-800">How It Works</h2>
                <p class="text-white mb-0"><a class="text-white" href="{{url_for('baseroute.index')}}">Home</a><span class="px-2"><i class="fa fa-chevron-right" aria-hidden="true"></i></span><a href="{{url_for('baseroute.how_it_works')}}" class="text-white">How It Works</a></p>
            </div>
        </div>
    </div>
</div>

<div class="container">
<div class="row my-5">
              <div class="col-md-8 mx-auto">
                <div class="sa-container">
                  <div class="sa-container-inner">
                    <div class="sa-circle-left">
                      <div class="sa-circle-left-1">
                        <div class="sa-cs-1">
                          <div class="sa-cs-1-inner">
                            <div class="sa-gref">
                              <!-- <span class="sa-num">100</span> -->
                              <span class="sa-title">
                                <i class="row-span-1">Pensions</i>
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="sa-cs-2">
                          <div class="sa-cs-2-inner">
                            <div class="sa-gref">
                              <!-- <span class="sa-num">22</span> -->
                              <span class="sa-title">
                                <i class="row-span-1">Endowments</i>
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="sa-cs-3">
                          <div class="sa-cs-3-inner">
                            <div class="sa-gref">
                              <!-- <span class="sa-num">18</span> -->
                              <span class="sa-title">
                                <i class="row-span-1">Insurance</i>
                              </span>
                            </div>
                          </div>
                        </div>

                        <div class="sa-cs-4">
                          <div class="sa-cs-4-inner">
                            <div class="sa-gref">
                              <!-- <span class="sa-num">18</span> -->
                              <span class="sa-title">
                                <i class="row-span-1">Commercial</i>
                                <i class="row-span-2">Banks</i>
                              </span>
                            </div>
                          </div>
                        </div>

                        <div class="sa-cs-5">
                          <div class="sa-cs-5-inner">
                            <div class="sa-gref">
                              <!-- <span class="sa-num">18</span> -->
                              <span class="sa-title">
                                <i class="row-span-1">Private Banks</i>
                              </span>
                            </div>
                          </div>
                        </div>

                      </div>
                      <div class="sa-circle-left-2">
                        <div class="texts">
                          <div class="texts-inner">
                            <!-- <h3 id="count-number-1" class="timer" data-to="42" data-speed="1000">0</h3> -->
                            <span>
                              Investors
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="sa-circle">
                      <div class="sa-circle-inner">
                        <div class="texts">
                          <div class="texts-inner">
                            <h3 class="fw-800">LAP</h3>
                            <span>
                              Lending Aggregation Platform<br /><b>2019</b>
                            </span>
                          </div>
                        </div>
                        <div class="sa-circle-inner-1">
                          <div class="sa-circle-small-1">
                            <div class="sa-gref">
                              <span class="sa-title">Mortgage Loans</span>
                            </div>
                          </div>
                          <div class="sa-circle-small-3">
                            <div class="sa-gref">
                              <span class="sa-title">Car<br />Loans</span>
                            </div>
                          </div>
                        </div>
                        <div class="sa-circle-inner-2">
                          <div class="sa-circle-small-2">
                            <div class="sa-gref">
                              <span class="sa-title">Invoice Financing</span>
                            </div>
                          </div>
                          <div class="sa-circle-small-4">
                            <div class="sa-gref">
                              <span class="sa-title">Business Loans</span>
                            </div>
                          </div>
                        </div>

                        <div class="sa-circle-inner-3">
                          <div class="sa-circle-small-5">
                            <div class="sa-gref">
                              <span class="sa-title">Short Term Loans</span>
                            </div>
                          </div>
                          <div class="sa-circle-small-6">
                            <div class="sa-gref">
                              <span class="sa-title">Personal Loans</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="sa-circle-right">
                      <div class="sa-circle-right-1">
                        <div class="sa-cs-1">
                          <div class="sa-cs-1-inner">
                            <div class="sa-gref">
                              <span class="sa-title">MSME's</span>
                            </div>
                          </div>
                        </div>
                        <!-- <div class="sa-cs-2">
                          <div class="sa-cs-2-inner">
                            <div class="sa-gref">
                              <span class="sa-title">
                                <i class="row-span-1">Animation and</i>
                                <i class="row-span-2">Video</i>
                              </span>
                            </div>
                          </div>
                        </div> -->
                        <div class="sa-cs-3">
                          <div class="sa-cs-3-inner">
                            <div class="sa-gref">
                              <span class="sa-title">Consumers</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="sa-circle-right-2">
                        <div class="texts">
                          <div class="texts-inner">
                            <!-- <h3 id="count-number-2" class="timer" data-to="32" data-speed="1000">0</h3> -->
                            <span>
                              Borrowers
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12 mt-4">
                <p>Mintos is a global online marketplace for loans. We provide retail investors with an easy and
                  transparent way to invest in loans originated by a variety of alternative lending companies around the
                  world. Our mission is to facilitate free and efficient movement of capital. At Mintos, investors can
                  invest in different types of loans originated by many different loan originators. There are no fees
                  for investing on Mintos; investors can invest in multiple currencies and start small. Loan
                  Originators, on the other hand, gain access to flexible and scalable funding for growing their loan
                  book. </p>
                <h6 class="fw-800">How it works?</h6>
                <ul>
                  <li>Borrowers apply for a loan at the loan originator.</li>
                  <li>The loan originator evaluates the application, sets an interest rate and lends money from its own
                    funds.</li>
                  <li>The loans are then listed on the Mintos marketplace, where you can select loans to invest in,
                    thereafter receiving monthly payments and interest.*</li>
                </ul>
                <p>* By investing in a loan, investors are buying claim rights against a borrower based on the
                  assignment agreement. Neither Mintos nor the loan originator is responsible for a borrower failing to
                  service the loan, including for late payments. In the case that a borrower is unable to repay the
                  loan, investors may lose some or all of their invested capital.</p>
                <a href="#" class="btn btn-primary cta-button">
                  Start Investing
                </a>
              </div>
            </div>
</div>
{% endblock %}