{% extends "masterlayout.html" %}
{% block content %}
<header>
    <div class="banner-image" style="background-image: url('https://www.greenarccapital.com/assets/uploads/bannner.jpg')"></div>
</header>

<!-- Page Content -->
<div class="container about-greenarc">

    <div class="row">
        <div class="col-md-12 text-center my-4">
            <h2 class="my-4 fw-800">Welcome to GreenArc Capital</h2>
            <p>GreenArc Capital is focused on sourcing and structuring scalable credit solutions to deploy capital
                with<br />positive societal, economic and environmental outcomes in select Asian Emerging Markets.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 mb-4 text-center">
            <div class="icon-container about-icons">
                <img src="https://img.icons8.com/ios-filled/32/59bd50/binoculars.png">
                <img src="https://img.icons8.com/ios-filled/32/ffffff/binoculars.png">
            </div>
            <h4 class="my-3">Our Vision</h4>
            <p class="card-text">Address the Impact Credit and Conservation Financing Gap in Emerging Markets and
                contribute towards achieving the UN SDG goals.</p>

        </div>
        <div class="col-lg-4 mb-4 text-center">
            <div class="icon-container about-icons">
                <img src="https://img.icons8.com/ios-filled/32/59bd50/accuracy.png">
                <img src="https://img.icons8.com/ios-filled/32/ffffff/accuracy.png">
            </div>
            <h4 class="my-3">Our Goal</h4>
            <p class="card-text">To be the financial partner for select Impact Lenders in South/SE Asia that require
                debt capital to scale growth and for investors seeking to deploy capital in these markets.</p>

        </div>
        <div class="col-lg-4 mb-4 text-center">
            <div class="icon-container about-icons">
                <img src="https://img.icons8.com/ios/32/59bd50/development-skill.png">
                <img src="https://img.icons8.com/ios/32/ffffff/development-skill.png">
            </div>
            <h4 class="my-3">Our Expertise</h4>
            <p class="card-text">With decades of deep local market and structured credit experience, GreenArc is the
                partner for Institutional Investors in the Impact Credit Space.</p>

        </div>
    </div>

</div>

<div class="quotes py-5 mt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h6>“The basic mission of finance is to set up arrangements whereby people may pursue risky
                    opportunities without themselves being destroyed by this risk, and arrangements that incentivize
                    people to behave in a socially constructive manner.” </h6>
                <p class="mb-0 mt-4 fw-800">- <i>Robert Shiller, Nobel Laureate in Economics</i></p>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
{% endblock %}