{% extends "masterlayout.html" %}

{% block content %}
<div class="page-title">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="text-white fw-800">Login</h2>
        <p class="text-white mb-0"><a class="text-white" href="{{url_for('baseroute.index')}}">Home</a><span class="px-2"><i class="fa fa-chevron-right" aria-hidden="true"></i></span><a href="{{url_for('user.login')}}" class="text-white">Login</a></p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row my-5">
    <div class="col-md-8 mx-auto">
      <div class="login-form">
        <div class="login-body">
          <form class="mt-4" action="#" method="POST">
            <div class="form-group">
              <label class="fs-14">Email</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-white"><i class="fa fa-envelope"></i></span>
                </div>
                <input type="email" name = "email" class="form-control" placeholder="eg. johndoe@gmail.com">
              </div>
            </div>

            <div class="form-group">
              <label class="fs-14">Name</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-white"><i class="fa fa-user"></i></span>
                </div>
                <input type="text" name = "name" class="form-control" placeholder="eg. johndoe">
              </div>
            </div>

            <div class="form-group">
              <label class="fs-14">Password</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-white"><i class="fa fa-key"></i></span>
                </div>
                <input type="password" name = "password" class="form-control" id="password" placeholder="eg. *******">
                <div class="input-group-append">
                  <span class="input-group-text bg-white fs-13 show-hide-toggle" id="toggleBtn">Show</span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="checkbox">
                <label><input type="checkbox" value="" class="mr-2 remember-me">Remember me</label>
              </div>
            </div>

            <div class="form-group clearfix my-4 text-center">
              <button type="submit" class="btn btn-cta btn-login">LOGIN</button>
            </div>
            <hr>
            <div class="form-group text-center">
              <span>Not a Customer? <a href="#" class="btn-link-primary text-capitalize">Create New Account</a></span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}