{% extends "masterlayout.html" %}

{% block content %}
<div class="page-title">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="text-white fw-800">News</h2>
        <p class="text-white mb-0"><a class="text-white" href="{{url_for('baseroute.index')}}">Home</a><span class="px-2"><i class="fa fa-chevron-right" aria-hidden="true"></i></span><a href="{{url_for('baseroute.news')}}" class="text-white">News</a></p>
      </div>
    </div>
  </div>
</div>

<div class="news container">
  <div class="row my-5">
    <div class="col-lg-4 mb-4">
      <div class="blog-box">
        <div class="blog-img-box">
          <img src="https://www.greenarccapital.com/assets/uploads/Screen_Shot_2019-09-13_at_95448_AM_(2).png" alt=""
            class="img-fluid blog-img">
        </div>
        <div class="single-blog">
          <div class="blog-content">
            <p class="fs-12 mt-0 mb-1"><i class="fa fa-calendar mr-2"></i>August 2019</p>
            <h6 class="card-title fw-800">Bikram was featured on Humans in Finance</h6>
            <p>Bikram was featured on Humans in Finance, a social enterprise
              using social media..</p>
            <a href="bikram-was-featured-on-humans-in-finance.php" class="read-more" target="_blank">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="blog-box">
        <div class="blog-img-box">
          <img src="https://www.greenarccapital.com/assets/uploads/UnboundFestival_1.JPG" alt=""
            class="img-fluid blog-img">
        </div>
        <div class="single-blog">
          <div class="blog-content">
            <p class="fs-12 mt-0 mb-1"><i class="fa fa-calendar mr-2"></i>June 2019</p>
            <h6 class="card-title fw-800">Innovfest Unbound selects GreenArc Capital</h6>
            <p>GreenArc Capital is selected as one of the 50 most disruptive startups at the Unbound
              Festival</p>
            <a href="innovfest-unbound-selects-greenarc-capital.php" class="read-more" target="_blank">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="blog-box">
        <div class="blog-img-box">
          <img src="https://www.greenarccapital.com/assets/uploads/Green_Bond_market1.JPG" alt=""
            class="img-fluid blog-img">
        </div>
        <div class="single-blog">
          <div class="blog-content">
            <p class="fs-12 mt-0 mb-1"><i class="fa fa-calendar mr-2"></i>June 2019</p>
            <h6 class="card-title fw-800">GreenArc Capital is featured on Financial Times</h6>
            <p>'Green bond’ market leaves Wildlife behind- Energy, Housing and Transport</p>
            <a href="greenarc-capital-is-featured-on-financial-times-article-on-green-bonds.php" class="read-more" target="_blank">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="blog-box">
        <div class="blog-img-box">
          <img src="https://www.greenarccapital.com/assets/uploads/CAP1.png" alt="" class="img-fluid blog-img">
        </div>
        <div class="single-blog">
          <div class="blog-content">
            <p class="fs-12 mt-0 mb-1"><i class="fa fa-calendar mr-2"></i>March 2019</p>
            <h6 class="card-title fw-800">Bikram nominated to the CAP India Advisory Board</h6>
            <p>Bikram nominated to the CAP India Advisory Board</p>
            <a href="bikram-nominated-to-the-cap-india-advisory-board.php" class="read-more" target="_blank">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="blog-box">
        <div class="blog-img-box">
          <img src="https://www.greenarccapital.com/assets/uploads/d1.jpg" alt="" class="img-fluid blog-img">
        </div>
        <div class="single-blog">
          <div class="blog-content">
            <p class="fs-12 mt-0 mb-1"><i class="fa fa-calendar mr-2"></i>December 2018</p>
            <h6 class="card-title fw-800">ADB Confererence<br>&nbsp;</h6>
            <p>Mr Bikram Chaudhury, CEO – GreenArc Capital, was invited by ADB to speak</p>
            <a href="adb-confererence.php" class="read-more" target="_blank">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}