{% extends "masterlayout.html" %}
{% block content %}
<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="text-white fw-800">Team</h2>
                <p class="text-white mb-0"><a class="text-white" href="{{url_for('baseroute.index')}}">Home</a><span class="px-2"><i class="fa fa-chevron-right" aria-hidden="true"></i></span><a href="{{url_for('baseroute.team')}}" class="text-white">Team</a></p>
            </div>
        </div>
    </div>
</div>

<div class="team container pb-4">
    <div class="member-details py-5">
        <div class="row">
            <div class="col-md-3">
                <div class="member-img"><img src="https://www.greenarccapital.com/assets/uploads/Bikram.png"
                        class="img-fluid" />
                </div>
            </div>
            <div class="col-md-9">
                <h6 class="fw-800 member-name mb-0">Bikram Chaudhury</h6>
                <p class="designation font-italic mb-0 fw-800">Chief Executive Officer</p>
                <p class="experience">25+ years of capital markets, structuring and emerging markets experience.</p>
                <ul>
                    <li>Former MD at Credit Suisse in Singapore, London and Hong Kong.</li>
                    <li>Led the APAC Credit Group comprising Structured Credit, ABS, Cash Bond Trading & DCM Syndication
                        in
                        Global Markets.</li>
                    <li>Previously Head, APAC Structuring Group, Fixed Income Division.</li>
                    <li>Member of the APAC Fixed Income Management Committee.</li>
                    <li>Previously in the CDO Group and the EMEA EMG group in London.</li>
                    <li>Member of CS Global Impact Investing Advisory Council.</li>
                    <li>Led the APAC SDGs Skills-Based Volunteering initiative, which connects CS resources with
                        relevant
                        NGOs on products and projects.</li>
                </ul>
                <p>Bik has a BA from Delhi University and an MBA from IIM-B, India.</p>
            </div>
        </div>
        <hr>
        <div class="row pt-3">
            <div class="col-md-3">
                <div class="member-img"><img src="https://www.greenarccapital.com/assets/uploads/Rony.png"
                        class="img-fluid" />
                </div>
            </div>
            <div class="col-md-9">
                <h6 class="fw-800 member-name mb-0">Rony J Palathinkal</h6>
                <p class="designation font-italic mb-0 fw-800">Chief Operating Officer</p>
                <p class="experience">14 years of global markets COO, program management, technology dev-ops experience.
                </p>
                <ul>
                    <li>Former AI and Analytics Lead for Credit Suisse APAC Innovation and Ventures Group.</li>
                    <li>Led multiple large projects including APAC Legal Entity program client stream, the largest
                        program undertaken by Credit Suisse resulting in $2bn capital saves.</li>
                    <li>Previously led technology dev-ops for APAC reg-tech department.</li>
                    <li>He was co-chair of the Singapore Sustainability Committee and led deal flow management for
                        Sustainable Finance Collective APAC – an industry consortium for Impact Investment projects.
                    </li>
                </ul>
                <p>Rony has a BEng. from NTU (SIA-NOL Scholar) and Certification in Finance from Harvard Business School
                    and is a co-inventor of a patent (pending) in prescriptive analytics for improving export
                    efficiency.</p>
            </div>
        </div>
        <hr>
        <div class="row pt-3">
            <div class="col-md-3">
                <div class="member-img"><img src="https://www.greenarccapital.com/assets/uploads/Ken.png"
                        class="img-fluid" />
                </div>
            </div>
            <div class="col-md-9">
                <h6 class="fw-800 member-name mb-0">Kenneth Ting</h6>
                <p class="designation font-italic mb-0 fw-800">Portfolio Management</p>
                <p class="experience">13+ years of experience in debt capital markets, corporate and structured finance.
                </p>
                <ul>
                    <li>Previously worked at Credit Suisse, Singapore in Global Markets division and at Deutsche Bank,
                        Hong Kong in Leveraged Debt Capital Markets where he originated and structured non-investment
                        grade debt transactions for corporate clients across APAC.</li>
                    <li>He has also worked in London where he covered debt origination and illiquid credit/special
                        situations.</li>
                </ul>
                <p>Ken has an BA from the University of Pennsylvania, an MBA from Columbia Business School and is a CFA
                    charter holder.</p>
            </div>
        </div>
        <hr>
        <div class="row pt-3">
            <div class="col-md-3">
                <div class="member-img"><img src="https://www.greenarccapital.com/assets/uploads/naveen_headshot_v3.jpg"
                        class="img-fluid" />
                </div>
            </div>
            <div class="col-md-9">
                <h6 class="fw-800 member-name mb-0">Naveen Agnihotri</h6>
                <p class="designation font-italic mb-0 fw-800">Chief Technology Officer</p>
                <p class="experience">14 years experience as CTO for multiple fintechs</p>
                <ul>
                    <li>Led the technology team of Lenddo EFL- world's first social data based lending platform. Deep
                        tech background in AI and computational neuroscience.</li>
                    <li>Prior to joining the industry, he was a researcher at MIT focussing on neural networks
                        specifically on reinforcement learning and reward systems.</li>
                </ul>
                <p>Naveen has a Post-Doctoral Fellowship from MIT and a PhD from Columbia University.</p>
            </div>
        </div>
        <hr>
        <div class="row pt-3">
            <div class="col-md-3">
                <div class="member-img"><img src="https://www.greenarccapital.com/assets/uploads/Tahir.png"
                        class="img-fluid" />
                </div>
            </div>
            <div class="col-md-9">
                <h6 class="fw-800 member-name mb-0">Tahir Wahid</h6>
                <p class="designation font-italic mb-0 fw-800">Senior Advisor</p>
                <p class="experience">18 years in capital markets focusing on Structured solutions coverage of Financial
                    institutions, Origination & Distribution</p>
                <ul>
                    <li>Former European head of Bank and Credit Solutions Coverage at Credit Suisse in London within the
                        Fixed Income dept where he spent 17 years.</li>
                    <li>He is currently a consultant to global financial institutions. He has been the trustee of DIL
                        U.K. (a Pakistan focused education NGO) , and a former Acumen Fund Partner.</li>
                </ul>
                <p>Tahir has a BA (Hons) from Trinity College Oxford in Philosophy, Politics, and Economics. He comes
                    from Pakistan and was born and raised in Botswana.</p>
            </div>
        </div>
        <hr>
        <div class="row pt-3">
            <div class="col-md-3">
                <div class="member-img"><img src="https://www.greenarccapital.com/assets/uploads/Sudip.png"
                        class="img-fluid" />
                </div>
            </div>
            <div class="col-md-9">
                <h6 class="fw-800 member-name mb-0">Sudip Thakor</h6>
                <p class="designation font-italic mb-0 fw-800">Chief Technology Officer</p>
                <p class="experience">25+ years of deal sourcing, structuring and investment management experience.</p>
                <ul>
                    <li>Former Co-Head of Credit Suisse’s Global Emerging Markets and High Grade Credit businesses, and
                        Head of the Global Structuring Group in the Fixed Income Division.</li>
                    <li>PrLater, led the Emerging Markets Product area in the Asset Management Division.</li>
                    <li>Was a member of Fixed Income Operating Committee, Asset Management Operating Committee and
                        Global Leadership Council.</li>
                    <li>Founded Pumori Capital, an investment and advisory firm focusing on secondary PE, credit and
                        other special situation assets in Asia.</li>
                </ul>
                <p>Sudip has a BA from Cornell University and an MBA from Columbia Business School. Sudip is on the
                    Investment Committee of CS’s $1.2 billion Mexico Credit Fund.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}