@import "variables";

.btn-search {
    margin-top: 30px;
    padding: .6rem 1rem !important
}

.account-statement {
    i {
        color: $primary;
    }

    .nav-tabs {

        .nav-item.show .nav-link,
        .nav-link.active {
            color: #495057 !important;
            background-color: #fff !important;
            border-color: #ffffff #ffffff #6c6d70 !important;
        }

        .nav-link {
            padding: .5rem !important;
        }

        .nav-link:focus,
        .nav-link:hover {
            border-color: #ffffff #ffffff #6c6d70 !important;
        }
    }

    .btn {
        padding: .5rem .8rem;
        width: 100%;

        &:active,
        &:hover {
            background: transparent !important;
            border-color: $primary !important;
        }
    }

    .transaction-entries {
        ul {
            padding-left: 8px !important;
            padding-right: 8px !important;
            background: #f9f9f9;

            li {
                padding: 4px !important;

                &:last-child {
                    border-bottom: none !important;
                }
            }
        }

        p {
            padding-left: 12px;
            margin-bottom: 6px;
            font-weight: 600;
        }

    }

    .select2-container {
        width: 100% !important;
    }

    .select2-container--default.select2-container--focus .select2-selection--multiple,
    .select2-container--default.select2-container--focus .select2-selection--single,
    .select2-container--default.select2-container--open .select2-selection--multiple,
    .select2-container--default.select2-container--open .select2-selection--single {
        border-color: $primary;
    }
}

.account-statement .card .card-body {
    min-height: 76vh;
}

.datepicker {

    td,
    th {
        font-size: 13px !important;
    }

    table {
        tr {

            td.active.active,
            td.active.disabled,
            td.active.disabled.active,
            td.active.disabled.disabled,
            td.active.disabled:active,
            td.active.disabled:hover,
            td.active.disabled:hover.active,
            td.active.disabled:hover.disabled,
            td.active.disabled:hover:active,
            td.active.disabled:hover:hover,
            td.active.disabled:hover[disabled],
            td.active.disabled[disabled],
            td.active:active,
            td.active:hover,
            td.active:hover.active,
            td.active:hover.disabled,
            td.active:hover:active,
            td.active:hover:hover,
            td.active:hover[disabled],
            td.active[disabled] {
                background-color: $primary;
            }
        }
    }
}

#legend {
    .legend-item {
        font-size: 13px;
        font-weight: bold;
        cursor: pointer;

        .legend-marker {
            display: inline-block;
            width: 12px;
            height: 12px;
            margin-right: 10px;
        }
    }
}

#legend ul {
    list-style: none;
    font-size: 12px;
}

#legend ul span {
    display: inline-block;
    height: 1em;
    width: 1em;
    margin-right: 0.5em;
}